@use "variaveis";

.hero {
  min-height: 100vh;
  background-image: url("../images/herobg.jpg");
  text-align: center;
  background-size: cover;
  display: flex;
  padding-top: 20px;
  &__content {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;

    & h3 {
      font-family: variaveis.$fonteTitulo;
    }

    &__branding {
      font-family: variaveis.$fonteTitulo;
    }

    .title--big {
      margin-bottom: 32px;
    }
    p {
      margin-bottom: 20px;
    }

    &__combos {
      display: flex;
      justify-content: space-between;
      &__combo {
        list-style: none;

        img {
          max-height: 450px;
          border-radius: 5px;
        }

        .text {
          font-family: variaveis.$fonteSubtitulo;
        }
      }
    }
    .text--small {
      font-family: variaveis.$fonteTexto;
    }
  }
}
