// paleta de cores

$corDeFundo: #181818;
$cortextoPrimario: #ffffff;
$cortextoSecundario: #51f3bd;
$corDestaque: #0f9c39;
$corHover: #15e453d2;

// variaveis de fonte

$fonteTitulo: "Montserrat", sans-serif;
$fonteSubtitulo: "Poppins", sans-serif;
$fonteTexto: "Open Sans", sans-serif;
