// paleta de cores

$corDeFundo: #0e5f66;
$cortextoPrimario: #ffffff;
$cortextoSecundario: #aae8fb;
$corDestaque: #0f9c39;
$corHover: #15e453d2;

// variaveis de fonte

$fonteTitulo: "Montserrat", sans-serif;
$fonteSubtitulo: "Poppins", sans-serif;
$fonteTexto: "Open Sans", sans-serif;
