@use "variaveis";
@use "hero";
@use "shows";
@use "plans";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px) {
  font-size: $fontSize;
  line-height: $fontSize + 10px;
  color: variaveis.$cortextoPrimario;
}

@mixin title($fontSize: 40px) {
  @include text($fontSize);
  color: variaveis.$cortextoSecundario;
}
.text--big {
  @include text(18px);
}

.text {
  @include text();
}

.text--small {
  @include text(12px);
}

.title--big {
  @include title(44px);
}

.title {
  @include title;
}

.title--small {
  @include title(28px);
}

.link-text {
  @include text(18px);
  color: variaveis.$cortextoSecundario;
  text-decoration: underline;
}

.button {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  font-size: 18px;
  color: variaveis.$cortextoSecundario;
  background-color: variaveis.$corDestaque;
  text-transform: uppercase;
  border-radius: 10px;
  margin-top: 1vw;
  margin-bottom: 8px;
  padding: 12px;
  font-family: variaveis.$fonteSubtitulo;
  &:hover {
    background-color: variaveis.$corHover;
    transition: 0.3s;
  }
}
